# ======================
# Node.js
# ======================
node_modules/

# ======================
# Environment & Secrets
# ======================
.env

# ======================
# Python
# ======================
__pycache__/
*.pyc